<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beharbor : signup </title>
    <script>
        function submit_chk(myForm){

         }
        function reset_chk(myForm){
            location.href='/admin_signup'
         }
        function accepts(){
            const f = document.getElementById('f1')
            f.action = '/admin_signup_recept'
            f.method = 'post'
            f.submit()
        }
        function deny(){
            const f = document.getElementById('f1')
            f.action = '/admin_signup_resrv_reject'
            f.method = 'post'
            f.submit()
        }
    </script>
</head>
<body onload = "document.f1.user_school.focus();">
    <form id = "f1" name = "f1" onsubmit = "return submit_chk(this);" onreset = "return reset_chk(this);">
        <fieldset>
            <legend>회원가입 신청서</legend>
            <p>
                <label for ="user_id">ID: <%=rows_list[0]['user_id']%></label>
                <input type="hidden" name = "user_id" id = "user_id" value="<%=rows_list[0]['user_id']%>">
                <input type="hidden" name = "uid" id = "uid" value="<%=rows_list[0]['uid']%>">
            </p>
            <p>
                <label for ="user_school">학교명</label>
                <input type="text" name = "user_school" id = "user_school" value="<%=rows_list[0]['user_school']%>">
            </p>
            <p>
                <label for ="user_num">학번</label>
                <input type="text" name = "user_num" id = "user_num" value="<%=rows_list[0]['user_num']%>">
            </p>
            <p>
                <label for ="user_name">이름</label>
                <input type="text" name = "user_name" id = "user_name" value="<%=rows_list[0]['user_name']%>">
            </p>
            <p>
                <label for ="user_department">소속학과</label>
                <input type="text" name = "user_department" id = "user_department" value="<%=rows_list[0]['user_department']%>"/>
            </p>
            <p>
                <label for ="user_grade">학년</label>
                <input type="text" name = "user_grade" id = "user_grade" value="<%=rows_list[0]['user_grade']%>"/>
            </p>
            <p>
                <label for ="user_attend_status">재학여부</label>
                <select name="user_attend_status">
                    <% if (rows_list[0]['user_attend_status'] == '2') { %>
                        <option value="2" selected>재학</option>
                        <option value="0">졸업</option>
                        <option value="1">휴학</option>
                    <% } else if (rows_list[0]['user_attend_status'] == '0') { %>
                        <option value="2">재학</option>
                        <option value="0" selected>졸업</option>
                        <option value="1">휴학</option>
                    <% } else if (rows_list[0]['user_attend_status'] == '1') { %>
                        <option value="2">재학</option>
                        <option value="0">졸업</option>
                        <option value="1"  selected>휴학</option>
                    <% } %>
                </select>
            </p>
            <p>
                <label for ="user_phone">휴대폰 번호</label>
                <input type="text" name = "user_phone" id = "user_phone" value="<%=rows_list[0]['user_phone']%>"/>
            </p>
            <p>
                <input type = "button" onclick="accepts()" value = "수락"/>
                <input type = "button" onclick="deny()" value = "거절"/>
                <input type = "reset" value = "취소"/>
            </p>
        </fieldset>
        
    </form>  
</body>
</html>