<!DOCTYPE html>
<html lang="en">
<head>
  <title>Beharbor Rental Page</title>
  <%- include('head') %>

  <script>
    function go(clicked_id) {
      var form = document.getElementById(clicked_id).parentElement
      form.submit()
    }

    var json1 = "<%=searchData%>";
    json1 = json1.replaceAll('&#34;', '');
    json1 = json1.substr(1,  json1.length-2);
    var searchSource = json1.split(',');
    $(document).ready(function () {
      $('#q').autocomplete({
        source: searchSource,
        focus: function (event, ui) {
          return false;
        },
        select: function (event, ui) {},
        minLength: 1,
        delay: 100,
        autoFocus: true,
      });
    });

  </script>
</head>

<body>
  <%- include('nav',{login_user_id:id, login_user_auth: auth}) %>

  <main id="main">

    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>환영합니다, 비품 대여 페이지 입니다</h2>
            <p class="mb-0">Welcome, This is equipment rental page</p>
          </div>

          <!-- 검색창 start -->
          <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
            <form class="search-form" action="/search" method="get">
              <input type="search" placeholder="비품 이름으로 검색" class="search-input" name="q" id="q">
              <button type="submit" class="search-button">
                <svg class="submit-button">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
                </svg>
              </button>
            </form>
            
            <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
              <symbol id="search" viewBox="0 0 32 32">
                <path d="M 19.5 3 C 14.26514 3 10 7.2651394 10 12.5 C 10 14.749977 10.810825 16.807458 12.125 18.4375 L 3.28125 27.28125 L 4.71875 28.71875 L 13.5625 19.875 C 15.192542 21.189175 17.250023 22 19.5 22 C 24.73486 22 29 17.73486 29 12.5 C 29 7.2651394 24.73486 3 19.5 3 z M 19.5 5 C 23.65398 5 27 8.3460198 27 12.5 C 27 16.65398 23.65398 20 19.5 20 C 15.34602 20 12 16.65398 12 12.5 C 12 8.3460198 15.34602 5 19.5 5 z" />
              </symbol>
            </svg>
          </div>
          <!-- 검색창 end -->
        </div>

        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          <% for (var i = 0; i < product_list.length; i++) { %>
            <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
              <form action="/work_single" method="get">
                <div class="item-wrap fancybox" id="<%= product_list[i]['id'] %>" onclick="go(this.id)">
                  <input type="hidden" name="product_id" value="<%= product_list[i]['id'] %>">
                  <div class="work-info">
                    <h3><%= product_list[i]['name'] %></h3>
                    <span><%= product_list[i]['remaining_qty'] %></span>
                  </div>
                  <img class="img-fluid" src="img/uploads/<%=product_list[i]['image']%>" onerror="this.src='img/uploads/default.png'" style="width:490px;height:490px">
                </div>
              </form>
            </div>
          <% } %>
        </div>

        <!-- ======= Pagination Section ======= -->
        <div class="section">
          <div class="center">
            <div class="pagination" data-aos="fade-up">
              <a href="#">&laquo;</a>
              <a class="active" href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">&raquo;</a>
            </div>
          </div>
        </div>
        <!-- End Pagenation Section -->
      </div>
    </section><!-- End  Works Section -->
    </main><!-- End #main -->

    <%- include('footer') %>

</body>

</html>