<!D window.location.reload();OCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <title>대여 현황</title>
</head>
<body>
    <h1>물품 검색</h1>
    <form action="/rental_status_search" method="post">
        물품명 :&nbsp;<input type="text" name="asset_name">
        <input type="submit" value="일부 검색">
        <input type="reset" value="취소">
    </form>
    <button onclick="location.href='/rental_status'">전체 검색</button>

    <!--
        🐇create table assets_qty (
        qid int AUTO_INCREMENT primary key,
        pid int(10) unsigned,    //pid
        total_qty text,               // 총 갯수
        remaining_qty int,        // 남은 갯수
        foreign key(pid) references assets(id) on delete cascade on update cascade
        );

        create table rental_manage(
        ma_id int NOT NULL AUTO_INCREMENT,
        uid int,
        pid int(10) unsigned,
        ma_recept_date date,
        ma_start_date datetime,
        ma_using_period int,
        ma_return_date datetime,
        ma_qty int,
        ma_state char(1),
        ma_exprt_date date,
        primary key (ma_id),
        foreign key (pid) references assets(id) on delete cascade on update cascade,
        foreign key (uid) references rental_user(uid) on delete cascade on update cascade
        );
    -->
    <fieldset>
        <legend>물품 목록</legend>
        <% if (rows_list.length != 0) { %>
        <table border="1">
            <tr>
            <!-- <th>구분<th>아이디<th>계정상태<th>권한<th>학교<th>학번<th>이름<th>물품코드<th>물품명<th>접수일<th>시작일<th>사용기간(시간)<th>반납일<th>수량<th><th> -->
            <% for (let rows of rows_list) { %>
                <tr>
                    <!-- <td><%=reserv.ma_id%><td><%=reserv.user_id%><td><%=reserv.user_status%><td><%=reserv.user_auth%><td><%=reserv.user_school%><td><%=reserv.user_num%><td><%=reserv.user_name%>
                    <td><%=reserv.pid%><td><%=resev.name%><td><%=resev.ma_recept_date%><td><%=reserv.ma_start_date%><td><%=reserv.ma_using_period%><td><%=reserv.ma_return_date%><td><%=reserv.ma_qty%> -->
                <td>
                    <form action='/rental_status_delete' method="post">
                        <input type="hidden" name="ma_id" value="<%= rows.ma_id %>">
                        <input type="submit" value='취소'>
                    </form>
            <% } %>
        </table>
        <% } else { %>
            Oh! There's nothing here🤔
        <% } %>
    </fieldset>

</body>
</html>