<!DOCTYPE html>
<html lang="en">

<head>
  <title>Beharbor Rental Page | 비품 상세보기</title>
  <%- include('head') %>
  <style>
    .readmore {
      background-color: white;
    }
  </style>
</head>

<body>

  <%- include('nav',{login_user_id:id, login_user_auth: auth}) %>

  <main id="main">

    <section class="section">
      <div class="container">
        <div class="row mb-4 align-items-center">
          <div class="col-md-6" data-aos="fade-up">
            <h2>비품 상세보기</h2>
            <p>비품의 정보를 확인하고, 대여 신청을 할 수 있습니다.</p>
          </div>
        </div>
      </div>

      <div class="site-section pb-0">
        <div class="container">
          <div class="row align-items-stretch">
            <div class="col-md-8" data-aos="fade-up">
              <img class="img-fluid" src="img/uploads/<%=product_info[0]['image']%>" onerror="this.src='img/uploads/default.png'" style="width:800px;height:800px">
            </div>
            <div class="col-md-3 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <form action="/rental" method="get">
                <div class="sticky-content">
                  <h3 class="h3"><%=product_info[0]['name']%></h3>
                  <p class="mb-4"><span class="text-muted">남은 수량 : <%=product_info[0]['remaining_qty']%></span></p>
                  <p class="mb-4"><span class="text-muted">전체 수량 : <%=product_info[0]['total_qty']%></span></p>
                  
                  <input type="hidden" name="product_id" value="<%= product_info[0]['id'] %>"
                  <p><input type="submit" value="대여신청" class="readmore"></p>
                </div>
              </form>
            </div>
          </div>
        </div>
    </section>
  </main><!-- End #main -->

  <%- include('footer') %>

</body>

</html>